/* ==========================
Reset
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f4f4f4;
    padding:40px;

}

h1{

    text-align:center;
    margin-bottom:50px;

}

/* ==========================
Products
========================== */

.products{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;

}

/* ==========================
Card
========================== */

.card{

    width:300px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    position:relative;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:0.4s;

    animation:fadeIn 1s ease;

}

/* Hover */

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.25);

}

/* ==========================
Image
========================== */

.image-box{

    overflow:hidden;

}

.image-box img{

    width:100%;

    height:220px;

    object-fit:cover;

    transition:0.5s;

}

.card:hover img{

    transform:scale(1.1);

}

/* ==========================
Content
========================== */

.content{

    padding:20px;

}

.content h2{

    margin-bottom:15px;

}

.content h3{

    color:#d32f2f;

    margin-bottom:20px;

}

button{

    padding:12px 25px;

    border:none;

    background:#1976d2;

    color:white;

    border-radius:8px;

    cursor:pointer;

    transition:.4s;

}

.card:hover button{

    transform:rotate(-5deg);

}

/* ==========================
SALE Badge
========================== */

.sale{

    position:absolute;

    top:15px;

    left:15px;

    background:red;

    color:white;

    padding:8px 18px;

    border-radius:30px;

    font-weight:bold;

    animation:pulse 1s infinite;

}

/* ==========================
Animations
========================== */

@keyframes pulse{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.15);

    }

    100%{

        transform:scale(1);

    }

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}